# Created by .ignore support plugin (hsz.mobi)
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
Hello.iml
new.txt
out/
src/Buchalka/
src/Hello.class
src/Hello.java
src/Java0206/
src/Java0306/
src/Java0906/

src/Java2605/
src/Math/
src/PracaDomowaNa2605/
src/com/
